
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Evan" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->

    <!-- this is the title and the name bar code -->
    <!--suppress CssUnknownTarget -->
<body style="background: url('/static/backdrops/evanBackdrop.gif');background-position: center; background-repeat: no-repeat; background-size: cover;">


    <div class="" style="margin: 2% 5% 7%; text-align:left; font-family: Lucida Console,serif; color: White; background-color: rgba(50, 50, 50,.3); border-radius: 5px;">

        <h2 style="margin: 2% 5% 7%; text-align:left; font-family: Lucida Console,serif; color: white;
                                              ">Hello, {{name}}! Welcome to Evan's Page!</h2>

    <form action="/Evan/" id="greet" method="POST" >
        <label for="name">&nbsp Type your name</label>
        <input name="name" id="name">
        <input type="submit" value="Enter!">
    </form>
     </div>

    </body>


    <div class="center-block" style="margin: 2% 5% 7%; text-align: left; font-family: Lucida Console; color: white; background-color: rgba(50, 50, 50,.3); border-radius: 5px;" >

        <div class="col-12">
            <h3>About Me</h3>
            <p>Hi, my name is Evan Sanchez. My main hobbies are playing guitar and playing games. <br>
           &nbsp The guitar I play the most often is a Gio Ibanez as seen in the image below. My favorite game at the moment is Valorant.</p>

                <hr>

                <img src="https://www.ibanez.com/common/product_artist_file/file/p_region_GRG7221QA_TKS_2Y_03.png" height="215" width="650">
                <img src="https://cdn2.steamgriddb.com/file/sgdb-cdn/icon/9e82757e9a1c12cb710ad680db11f6f1.png" height="200" width="200">

        </div>

        <iframe src="https://open.spotify.com/embed/track/6epn3r7S14KUqlReYr77hA?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

        <p> This is my favorite song</p>
    </div>

{% endblock %}

{% block background %}
{% endblock %}