<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> N Building and PAC </title>


<body

        style="background-image:url(https://www.littleonline.com/uploads/project_media/del-norte-high-school/del-norte-hs-02.jpg);

background-repeat:no-repeat;
            background-attachment:fixed;
            background-position:100% 100%;">

</head>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "layouts/base.html" %}

    {% set project = " Quad " %}

    {% block body %}
</head>
<body

        style="background-image:url(https://www.littleonline.com/uploads/project_media/del-norte-high-school/del-norte-hs-02.jpg);

background-repeat:no-repeat;
            background-attachment:fixed;
            background-position:100% 100%;">


<div class="delnorte">
    <h1 > ─ N Building and PAC ─ </h1>
</div>

<div>
    <br>
    <div style="background-color: rgba(255,255,255,0.61); width: 80%; height: 70vh; color: black; margin: auto; padding-top:15px; padding-left:15px">

        <p style="padding-right:60%"> Performing Arts Center </p>  <BR CLEAR=”left” />
		
		<iframe width="500" height="400"
		src="https://www.youtube.com/embed/9RlEfm7be60?controls=0&start=368&end=421;">
		</iframe>
		
		
        <img style="padding-right:15px; float:right;" </div>



</body>
</html>

{%  endblock %}