<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "layouts/base.html" %}

    {% set project = "E Buildings" %}

    {% block body %}
</head>
<body

        style="background:url('/static/dnhs/ebackground.png');

background-repeat:no-repeat;
            background-attachment:fixed;
            background-position:center;
            background-size:cover">


<div class="delnorte">
    <h1 > E Building </h1>
</div>

<div style ="font-size:30px";>
    <br>
    <div style="background-color: rgba(255, 255, 255,.8); width: 80%; height: 70vh; color: black; margin: auto; padding-top:15px; padding-left:15px">

        <p style="padding-right:60%"> The E buildings are in between the D and G buildings. They have bathrooms right next to them. These classrooms are exclusively science. There are classes in this building like Biology, Chemistry, Human Body Systems, Environmental Science, and more. </p>  <BR CLEAR=”left” />
        <!--       <img style="padding-right:15px; float:right;" src="\static\dnhs\foodcourtmain.png" height="70%" width="50%">  -->
    </div>
</div>



</body>
</html>

{%  endblock %}