<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "layouts/base.html" %}

    {% set project = " Stadium " %}

    {% block body %}
</head>
<body

        style="background-image:url(https://cdn.businessyab.com/assets/uploads/f5b2fce2ae07cb7e8d15cd8a8b90a9e7_-united-states-california-san-diego-county-san-diego-black-mountain-ranch-nighthawk-lane-del-norte-high-school-stadium.jpg);

background-repeat:no-repeat;
            background-attachment:fixed;
            background-position:100% 100%;">


<div class="delnorte">
    <h1 > ─ Del Norte Stadium ─ </h1>
</div>

<div>
    <br>
    <div style="background-color: rgba(255,255,255,0.61); width: 80%; height: 150vh; color: black; margin: auto; padding-top:15px; padding-left:15px">

		<img style=style="display: block; margin-left: auto; margin-right: auto;" float:left;" src="/static/img/DN FOOTBALL.jpg" height="100%" width="100% class="center" > 
    </div>
</div>



</body>
</html>

{%  endblock %}
