<!DOCTYPE html>

{% set project = "Page Not Found" %}

{% block content %}
    <div class="index">
        <div class="center-block" style="margin: 2% 10% 10%; font-family: Futura; color: #fac403; background-color: #d7f8fa">
            <div class="col-12" style="text-align: center;">
                <h1><strong>Something Went Wrong</strong></h1>
            </div>

            <div class="jumbotron jumbotron-fluid" style="text-align: center; ">
                <h2>404 Not Found!</h2>
                <img src="https://c.tenor.com/4otr5S3l1agAAAAj/dancing-duckdancing.gif" alt="">

                <a href="/"><br>Go Home</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block background %}
{% endblock %}