 
    <!-- Extending the predefined project layout -->
    {% extends "layouts/base.html" %}

    <!- This variable sets name of browser tab  -->
    {% set project = "Abby" %}

    <!- This is a replacement block for Body in base.html -->
    {% block body %}
    <!- Try building a new body here ->
   <!--suppress CssUnknownTarget -->
    <body style="background-image:url('/static/backdrops/abbyBackdrop.gif');
   background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

        <div class="col-12" style="font-family: 'Harlow Solid Italic',serif; color: #30a7a7; background-color: #d0f1e7">
            <h2>Hello, {{name}}! Welcome to Abby's very epic page! </h2>
        </div>

        <!-- code for greet name bar ? (you can format it yourselves bc I give up) -->
        <form action="/Abby/" id="greet" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>

    </div>

    <img src="https://c.tenor.com/4otr5S3l1agAAAAj/dancing-duckdancing.gif" alt="">
    </body>
    <div class="col-12" style="font-family: 'Harlow Solid Italic',serif; color: #30a7a7; background-color: #d0f1e7">
        <h1> About me</h1>
        <h2> I'm Abby. I like pop music and The Binding of Isaac. <br>
        I play field hockey, and my favorite foods are dried mangoes, chocolate and sushi.</h2>
    </div>


            <hr>
        </div>
    </div>
    {% endblock %}

    <!- This is turning off birds background from base.html -->
    {% block background %}
    {% endblock %}