
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Evan" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->

    <!-- this is the title and the name bar code -->
    <!--suppress CssUnknownTarget -->
<body style="background: url('/static/backdrops/evanBackdrop.gif');background-position: center; background-repeat: no-repeat; background-size: cover;">


    <div class="" style="margin: 2% 5% 7%; text-align:left; font-family: Lucida Console,serif; color: White; background-color: rgba(50, 50, 50,.3); border-radius: 5px;">

        <h2 style="margin: 2% 5% 7%; text-align:left; font-family: Lucida Console,serif; color: white;
                                              ">Hello, {{name}}! Welcome to Evan's Page!</h2>

    <form action="/Evan/" id="greet" method="POST" >
        <label for="name">&nbsp Type your name</label>
        <input name="name" id="name">
        <input type="submit" value="Enter!">
    </form>
     </div>

    </body>

    <!--
    <div class="center-block" style="margin: 2% 5% 7%; text-align: left; font-family: Lucida Console; color: #03d1b9;
                                                                                          background-color: rgba(50, 50, 50,.3); border-radius: 5px;" >

        <div class="col-12">
            <h5 style="font-family: Lucida Console; color: White;  ">enter new header here</h5>
            <p style="font-family: Lucida Console; color: White">enter new body text here</p>
        </div>

    </div>

    <div class="center-block" style="margin: 2% 5% 7%; text-align: left; font-family: Lucida Console; background-color: rgba(50, 50, 50,.3); border-radius: 5px;" >

        <div class="col-12">
            <h5 style="font-family: Lucida Console; color: White; ">enter new header here too</h5>
            <p style="font-family: Lucida Console; color: White">enter new body text here too</p>
        </div>

    </div>
-->
<img src="https://c.tenor.com/4otr5S3l1agAAAAj/dancing-duckdancing.gif" alt="">

{% endblock %}

{% block background %}
{% endblock %}