
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Evan" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->

    <!-- this is the title and the name bar code -->
    <body style="background-image:url('https://cdna.artstation.com/p/assets/images/images/024/538/828/original/pixel-jeff-clipc-s.gif?1582740521');background-position: center; background-repeat: no-repeat; background-size: cover;">

    <!--  <div class="col-12"> -->
    <!--</div> -->

    <div class="center-block" style="margin: 2% 5% 7%; text-align:left; font-family: Arial; color: darkslategray;
                                                                                            background-color: white;">

        <h2 style="margin: 2% 5% 7%; text-align:left; font-family: Sathu; color: #03d1b9;
                                            background-color: white">Hello, User! Welcome to Evan's Page!</h2>

    </div>

    </body>

    <!-- this is the first paragraph code -->
    <div class="center-block" style="margin: 2% 5% 7%; text-align: left; font-family: arial; color: #03d1b9;
                                                                                          background-color: white;" >

        <div class="col-12">
            <h5 style="font-family: Sathu; color: #03d1b9; ">enter new header here</h5>
            <p style="font-family: arial; color: darkslategray">enter new body text here</p>
        </div>

    </div>

    <!-- this is the second paragraph code -->
    <div class="center-block" style="margin: 2% 5% 7%; text-align: left; font-family: arial; color: #03d1b9;
                                                                                            background-color: white;" >

        <div class="col-12">
            <h5 style="font-family: Sathu; color: #03d1b9; ">enter new header here too</h5>
            <p style="font-family: arial; color: darkslategray">enter new body text here too</p>
        </div>

    </div>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}