{% extends "layouts/base.html" %}

{% set project = "greet" %}

{% block body %}

<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: Futura; color: #a66a7a; background-color: #d6e0f9;">
  <div class="col-12">
    <h2>Hello, {{name}}!</h2>
  </div>

  <div class="col-12" style="font-family: sans-serif; color: darkslategray"> <!-- do we need this ?? -->
    <form action="/greet/" id="greet" method="POST" >
      <label for="name">Type a greeting name?</label>
      <input name="name" id="name">
      <input type="submit" value="Greetings!">
    </form>
  </div>

</div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}