
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Hassan" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->
<body style="background-image:url(http://dl.dropbox.com/s/f8ihnj548jyk8w7/5GyCrfh.gif?dl=0);background-position: center; background-repeat: no-repeat; background-size: cover;">
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="col-12" style="font-family:Calibri,serif; color: white; background-color: #160E4A;">
        <h2>wazzup {{name}}, welcome to Hassan's ubertabulous page</h2>
    </div>

    <!-- code for greet name bar ? (you can format it yourselves bc i give up) -->

    <form action="/Evan/" id="greet" method="POST" >
        <label for="name">Type a greeting name?</label>
        <input name="name" id="name">
        <input type="submit" value="Greetings!">
    </form>

    <img src="https://c.tenor.com/4otr5S3l1agAAAAj/dancing-duckdancing.gif" alt="">

</div>
</body>

{% endblock %}

{% block background %}
{% endblock %}