<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
    <div class="container">

        <div class="center-block">
            <div class="col-12" style="text-align: center; background-color: #d6e0f9; color: #a66a7a">
                <h1><strong>Random Joke</strong></h1>
                <form action={{url_for('joke')}}>
                    <button>Refresh!</button>
                </form>
            </div>

            <!-- Input and Content -->
            <div class="center-block" style="background-color: #d6e0f9; height:100px">
                <div class="col-md">
                    <p class="setup" style="color:black; text-align: center;"><strong>{{joke.joke}}</strong></p>
                </div>
            </div>

        </div>
        <table style="margin: 2%;">
            <tr>
                <th>JSON Data</th>
            </tr>
            <tr>
                <td>{{joke}}</td>
            </tr>
        </table>

    </div>
{% endblock %}