{% extends "layouts/base.html" %}

{% set project = "Journal" %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="col-12" style="font-family:Calibri; color: white;">
        <h2>Video Journal 0</h2>
    </div>
    <iframe width="280" height="157.5" src="https://www.youtube.com/embed/xZCN3G9BOGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="https://drive.google.com/file/d/1F1Gk4KHu2e2dJfZB0N-uQA3EcQpudey0/preview" width="280" height="157.5" allow="autoplay"></iframe>
    <iframe width="280" height="157.5" src="https://www.youtube.com/embed/xe9igUkH9g4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe src="https://drive.google.com/file/d/1IumlF_gKvCeq-IwUXeLrcsVCz4SoIPGz/preview" width="280" height="157.5" allow="autoplay"></iframe>
    <iframe width="280" height="157.5" src="https://www.youtube.com/embed/XMqhiaATVic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>
</body>
</html>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}