<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Logic Gates" %}
{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="font-size: 25px">1 is checked, 0 is unchecked</p>

<table style="width:65%">
    <tr style="background-color: gray">
        <th>Icon</th>
        <th>Logic Gate</th>
        <th>Output</th>
    </tr>
    <tr style=" background-color: gray">
        <td><img src="https://www.pngkit.com/png/full/61-613823_and-gate-clip-art-gate-png.png" width="170" height="100"></td>
        <td>AND</td>
        <td>y</td>
    </tr>
    <tr style=" background-color: gray">
        <td><img src="http://cdn.onlinewebfonts.com/svg/img_485268.png" width="170" height="100"></td>
        <td>NAND</td>
        <td>y</td>
    </tr>
    <tr style=" background-color: gray">
        <td><img src="http://cdn.onlinewebfonts.com/svg/img_485272.png" width="170" height="100"></td>
        <td>OR</td>
        <td>y</td>
    </tr>
    <tr style=" background-color: gray">
        <td><img src="https://www.pngkey.com/png/full/61-613848_png-file-svg-nor-gate-png.png" width="170" height="100"></td>
        <td>NOR</td>
        <td>y</td>
    </tr>
    <tr style=" background-color: gray">
        <td><img src="https://www.pngkit.com/png/full/61-613823_and-gate-clip-art-gate-png.png" width="170" height="100"></td>
        <td>XOR</td>
        <td>y</td>
    </tr>
    <tr style=" background-color: gray">
        <td><img src="https://www.pngkit.com/png/full/61-613823_and-gate-clip-art-gate-png.png" width="170" height="100"></td>
        <td>NOT</td>
        <td>y</td>
    </tr>
    <tr style=" background-color: gray">
        <td><img src="https://www.pngkit.com/png/full/61-613823_and-gate-clip-art-gate-png.png" width="170" height="100"></td>
        <td>XNOR</td>
        <td>y</td>
    </tr>
</table>

</body>
</html>

{% endblock %}