<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Logic Gates" %}
{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    function logic() {
        var Atoggled = document.getElementById("A").checked
        var Btoggled = document.getElementById("B").checked
        if ( Atoggled && Btoggled ) {
            document.getElementById("ANDoutput").innerHTML = "1";
            document.getElementById("NANDoutput").innerHTML = "0";
        } else {
            document.getElementById("ANDoutput").innerHTML = "0";
            document.getElementById("NANDoutput").innerHTML = "1";
        }
        if ( Atoggled || Btoggled ) {
            document.getElementById("ORoutput").innerHTML = "1";
            document.getElementById("NORoutput").innerHTML = "0";
        } else {
            document.getElementById("ORoutput").innerHTML = "0";
            document.getElementById("NORoutput").innerHTML = "1";
        }
        if ( Atoggled ^ Btoggled ) {
            document.getElementById("XORoutput").innerHTML = "1";
            document.getElementById("XNORoutput").innerHTML = "0";
        } else {
            document.getElementById("XORoutput").innerHTML = "0";
            document.getElementById("XNORoutput").innerHTML = "1";
        }
    }
</script>
<h1 class="text-center" style="background-color: #d6e0f9; color: #a66a7a;">1 is Checked, 0 is Unchecked</h1>
<input style="margin-left: 12px" type="checkbox" id="A" name="optionA" value="A" onclick="logic(this)">
<label for="optionA" >A</label>
<input style="margin-left: 12px;" type="checkbox" id="B" name="optionB" value="B" onclick="logic(this)">
<label for="optionA" >B</label>
<table style="width:65%;"class="center">
    <tr class="text-center" style="background-color: #d6e0f9; color: #a66a7a; border-radius: 5px">
        <th>Icon</th>
        <th>Logic Gate</th>
        <th>Output</th>
    </tr>
    <tr class="text-center" style="background-color: #d6e0f9; color: #a66a7a;">
        <td><img src="https://www.pngkit.com/png/full/61-613823_and-gate-clip-art-gate-png.png" width="170" height="100"></td>
        <td>AND</td>
        <td id="ANDoutput">0</td>
    </tr>
    <tr class="text-center" style="background-color: #d6e0f9; color: #a66a7a;">
        <td><img src="http://cdn.onlinewebfonts.com/svg/img_485268.png" width="170" height="100"></td>
        <td>NAND</td>
        <td id="NANDoutput">1</td>
    </tr>
    <tr class="text-center" style="background-color: #d6e0f9; color: #a66a7a;">
        <td><img src="http://cdn.onlinewebfonts.com/svg/img_485272.png" width="170" height="100"></td>
        <td>OR</td>
        <td id="ORoutput">0</td>
    </tr>
    <tr class="text-center" style="background-color: #d6e0f9; color: #a66a7a;">
        <td><img src="https://www.pngkey.com/png/full/61-613848_png-file-svg-nor-gate-png.png" width="170" height="100"></td>
        <td>NOR</td>
        <td id="NORoutput">1</td>
    </tr>
    <tr class="text-center" style ="background-color: #d6e0f9; color: #a66a7a;">
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/XOR_ANSI.svg/1280px-XOR_ANSI.svg.png" width="190" height="100"></td>
        <td>XOR</td>
        <td id="XORoutput">0</td>
    </tr>
    <tr class="text-center" style="background-color: #d6e0f9; color: #a66a7a;">
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/XNOR_ANSI.svg/1280px-XNOR_ANSI.svg.png" width="170" height="100"></td>
        <td>XNOR</td>
        <td id="XNORoutput">0</td>
    </tr>
</table>

</body>
</html>

{% endblock %}