
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Natalie" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->

<!-- this is the title and the name bar code -->
<body style="background-image:url('https://i.kym-cdn.com/photos/images/newsfeed/001/345/250/f36.gif');background-position: center; background-repeat: no-repeat; background-size: cover;">

    <!--  <div class="col-12"> -->
    <!--</div> -->

    <div class="col-12" style="margin: 2% 5% 7%; text-align:left; font-family: Arial; color: darkslategray; background-color: white;">

        <h2 style="margin: 2% 5% 7%; text-align:left; font-family: 'Courier New'; color: #e34542;
        background-color: white">Hello, {{name}}! Welcome to Natalie's Page!</h2>

        <form action="/Natalie" id="greet" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!" style="color: #b8b27d">
        </form>
    </div>

</body>

<!-- this is the first paragraph code -->
<div class="center-block" style="margin: 2% 5% 7%; text-align: left; font-family: 'arial'; color: #e34542; background-color: white;" >

    <div class="col-12">
    <h5 style="font-family: 'Courier New'; color: #e34542; ">enter new header here</h5>
        <p style="font-family: arial; color: darkslategray">enter new body text here</p>
    </div>

</div>

<!-- this is the second paragraph code -->
<div class="center-block" style="margin: 2% 5% 7%; text-align: left; font-family: 'arial'; color: #e34542; background-color: white;" >

    <div class="col-12">
        <h5 style="font-family: 'Courier New'; color: #e34542; ">enter new header here too</h5>
        <p style="font-family: arial; color: darkslategray">enter new body text here too</p>
    </div>

</div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}