
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Natalie" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->

<!-- this is the title and the name bar code -->
<body style="background-image:url('https://i.kym-cdn.com/photos/images/newsfeed/001/345/250/f36.gif');
                                   background-position: center; background-repeat: no-repeat; background-size: cover;">

    <!--  <div class="col-12"> -->
    <!--</div> -->

    <div class="center-block" style="margin: 2% 5% 7%; text-align:left; font-family: Arial; color: darkslategray;
                                                                                           background-color: #faf9e3;">
            <h2 style="margin: 2% 5% 7%; text-align:left; font-family: Courier New; color: #e34542;
                                              background-color: #faf9e3">Hello, User! Welcome to Natalie's Page!</h2>
        <div class="col-12">
             <form action="/Natalie/" id="greet" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!" style="color: #e34542; font-family: Courier New">
            </form>
        </div>

    </div>

</body>

<!-- this is the first paragraph code
<div class="center-block" style="margin: 2% 5% 7%; text-align: left; font-family: arial; color: #e34542;
                                                                                            background-color: #faf9e3;" >
    <div class="col-12">
    <h5 style="font-family: Courier New; color: #e34542; ">Here are 5 Fun Facts About Natalie:</h5>
        <p style="font-family: arial; color: darkslategray">1) <br>2) <br>3) <br>4) <br>5) </p>
    </div>
</div>-->

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}