{% extends "layouts/base.html" %}

{% set project = "overview" %}

{% block body %}

<html lang="en">
<body style="background: url('/static/backdrops/overviewBackdrop.gif');background-position: center; background-repeat: no-repeat; background-size: cover;">
    <h1 class="text-center" style="background-color: #d6e0f9; color: #a66a7a">Our Project Overview</h1>

    <div class="center-block" style="margin: 2% 5% 7%; text-align: center; font-family: Lucida Console; color: white; background-color: rgba(50, 50, 50,.3); border-radius: 5px;" >

        <div class="col-12">
            <h3>Our Goal</h3>
            <p>Our group, Nilf Slayers, wanted to create an interactive map for students to use throughout their time at Del Norte. Even for some juniors, myself included, the varying organization of the school buildings makes it hard to navigate from class to class. Therefore, in order to assist our fellow peers, we decided to create a map that guides students to wherever they need to go. We've included additional information about most of the sports offered here at Del Norte. (Natalie and I are part of DNHS Field Hockey!) Please enjoy and use this site at your leisure!
            </p>
               <p> Sincerely, Abby (and the Nilf Slayers)
               </p>
        </div>

</body>
</html>

{% endblock %}